.Color-font{
            color: blue;
            font-style: italic;
            font-size: 25px;;
        }
.Color2{
            color: blueviolet;
            text-align: right;
        }
.style1{
    background-color:black ;
    text-align: center;
    color: blue;
}
.style2{
    background-color: black;
    color: rgb(246, 243, 243);
    text-align: right;
    font-size: medium;
} 
p{
    color: yellow;
    background: black;
    font-weight: bold;
    text-align: left;
}