.Color-font{
            color: blue;
            font-style: italic;
            font-size: 25px;;
        }
.Color2{
            color: blueviolet;
            text-align: right;
        }
.style1{
    text-align: center;
    color: blue;
}
.style2{
    color: brown;
    text-align: right;
    font-size: medium;
} 